<!DOCTYPE html>
<html lang="en">
<head>
    <title>ABOUT</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style_ab.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f67ac091a1.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"></h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="service.html">SERVICE</a></li>
                    <li><a href="products.html">PRODUCTS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="search here">
                <a href="index.html"> <button class="btn">Search</button></a>
            </div>


    <main>
      <section id="about" class="sec-padding">
        <h3 class="section-heading">ABOUT US</h3>
        <div class="sec-content-div flexible">
          <p>
            We are a group of people with decades of experience in growing and
            selling apples. We know what a good apple looks like and how they
            are grown. This essential fruit requires a temperate climate, loamy
            soil that is rich in organic matter apart from needing proper
            drainage and aeration facilities. Lucky for us we live in Kashmir
            which is proudly known as paradise of earth is also home to
            temperate fruits like apple for which the state is very famous
            across globe. The main factor which influence temperate fruit
            bearing trees is soil, climate and environment which are highly
            favorable and unparalleled in the province of Kashmir. Kashmiri
            apples a unique look, taste, flavor, size and color.
          </p>
        </div>
      </section>
      <section id="varieties" class="sec-padding">
        <h3 class="section-heading">VARIETIES</h3>
        <div class="sec-content-div flexible">
          <div class="tile">
            <img src="../static/images/basket.jpg" alt="photo of amber apples" class="img"/>
            <h4>Amber</h4>
          </div>
          <div class="tile">
            <img
              src="../static/images/picnic.jpg"
              alt="photo of american trel apples"class="img"
            />
            <h4>American Trel</h4>
          </div>
          <div class="tile">
            <img src="../static/images/various.jpg" alt="photo of red delicious apple" class="img"/>
            <h4>Red Delicious</h4>
          </div>
          <div class="tile">
            <img src="../static/images/chill.jpg" alt="photo of Maharaej apples" class="img"/>
            <h4>Maharaej</h4>
          </div>
          <div class="tile">
            <img src="../static/images/strawberry.jpg" alt="photo of Hazratbael apples" class="img"/>
            <h4>Hazratbael</h4>
          </div>
          <div class="tile">
            <img src="..//static/images/pineapple.jpg" alt="photo of Golden Delicious apples" class="img"/>
            <h4>Golden Delicious</h4>
          </div>
        </div>
      </section>
      <section id="our-service" class="sec-padding">
        <h3 class="section-heading">OUR SERVICE</h3>
        <div class="sec-content-div">
          <div class="bars"> 
            <div class="icon-container">
              <img src="../static/images/mixes.jpg" alt="" />
            </div>
            <div class="txt-container">
              <h5>Fresh</h5><br>
              <p>We deliver fresh apples with a 100% guarantee of freshness.</p>
            </div>
          </div>
          <div class="bars">
            <div class="icon-container">
              <img src="../static/images/cocktail.jpg" alt="" />
            </div>
            <div class="txt-container">
              <h5>Fast</h5><br>
              <p>
                We deliver your orders as fast as possible, delivery procedure
                begins as soon as apple is plucked from tree.
              </p>
            </div>
          </div>
          <div class="bars">
            <div class="icon-container">
              <img src="../static/images/oranges.jpg" alt="" />
            </div>
            <div class="txt-container">
              <h5>Satisfying</h5><br>
              <p>
                We guarantee 100% customer satisfaction. We do our best to make
                your purchase experience smooth. But if we mess up somehow you
                will get compensated for every inconvenience.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="benefits" class="sec-padding">
        <h3 class="section-heading">BENEFITS</h3>
        <div class="sec-content-div flexible">
          <iframe
            id="video"
            width="560"
            title="Benefits of Apple"
            height="315"
            src="https://www.youtube.com/embed/W_JOJNztrnI"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </section>
      <section class="sec-padding" id="contact">
        <h3 class="section-heading">CONTACT</h3>
        <div class="sec-content-div flexible">
          <h6>To make an order or just to know more contact us :</h6>
          <form
            id="form"
            action="https://www.freecodecamp.com/email-submit"
            method="POST"
          >
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Your Email Address"
              required
            />
            <input type="submit" class="btn3" id="submit" value="Know More" />
          </form>
        </div>
      </section>
    </main>
    <footer>
      Created by
      <a href="contact.html">Walters Wandera</a>
    </footer>
  </body>
</html>