<!DOCTYPE html>
<html lang="en">

<head>
    <title>PRODUCTS</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style_pros.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f67ac091a1.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"></h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="service.html">SERVICE</a></li>
                    <li><a href="products.html">PRODUCTS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="search here">
                <a href="index.html"> <button class="btn">Search</button></a>
            </div>


            <section class="services" id="services">
                <ul class="cards">
                    <li class="card">
                        <img src="../static/images/cocktail.jpg" alt="img">
                        <h3>Lemonade</h3>
                        <p>Experience greatness with the lemonade power if the leomon.</p>
                        <button id="btn"><h4>KES 150/=</h4></button>
                        <button class="btnn1" onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/oranges.jpg" alt="img">
                        <h3>Oranges</h3>
                        <p>Stay healthy by having atleast two oranges a day .You may decide to make a simple orange juice .</p>
                        <button id="btn"><h4>KES 25/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/lemonade.jpg" alt="img">
                        <h3>Lemon juice</h3>
                        <p>Helps reduce throat sores and improves your voice when drunk.</p>
                        <button id="btn"><h4>KES 250/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/smoothie2.jpg" alt="img">
                        <h3>Smoothie</h3>
                        <p>Lighten up your day by starting with a smoothie in the morning.</p>
                        <button id="btn"><h4>KES 350/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/apples.jpg" alt="img">
                        <h3>Apples</h3>
                        <p>Apples are good for your  sight and are mostly preffered by all doctors.</p>
                        <button id="btn"><h4>KES 50/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/bananas.jpg" alt="img">
                        <h3>Bananas</h3>
                        <p>Very sweet and enriched with nutrients</p>
                        <button id="btn"><h4>KES 20/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>

                    <li class="card">
                        <img src="../static/images/blueberry.jpg" alt="img">
                        <h3>Blueberries</h3>
                        <p>Experience greatness with the berry power if the leomon.</p>
                        <button id="btn"><h4>KES 70/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/mixedfruit.jpg" alt="img">
                        <h3>Mixed Fruits</h3>
                        <p>Stay healthy by having atleast all types of fruits a day .You may decide to make a simple mixed juice .</p>
                        <button id="btn"><h4>KES 150/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/peas.jpg" alt="img">
                        <h3>Pears</h3>
                        <p>Helps reduce throat sores and improves your voice when drunk.</p>
                        <button id="btn"><h4>KES 40/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/smoothie2.jpg" alt="img">
                        <h3>Smoothie</h3>
                        <p>Lighten up your day by starting with healthy fruit.</p>
                        <button id="btn"><h4>KES 120/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/pineapple.jpg" alt="img">
                        <h3>Pineapples</h3>
                        <p>Pineapples are good for your  health and are mostly preffered bo all doctors.</p>
                        <button id="btn"><h4>KES 80/=</h4></button>
                        <button class="btnn1"onclick="window.location.href='index.html'">Buy now</button>
                    </li>
                    <li class="card">
                        <img src="../static/images/berry.jpg" alt="img">
                        <h3>Berries</h3>
                        <p>Very sweet and enriched with all your health requirements</p>
                        <button id="btn"><h4>KES 20/=</h4></button>
                        <button class="btnn1" href="home.html"onclick="window.location.href='index.html'">Buy now</button>
                </ul>

                <marquee behavior="" direction="right"><p><h3>welcome again</h3></p></marquee>
            </section>
</body>

</html>