<!DOCTYPE html>
<html lang="en">

<head>
    <title>SIGN UP</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"></h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="service.html">SERVICE</a></li>
                    <li><a href="products.html">PRODUCTS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <form action="http://127.0.0.1:5000" method="POST">
        <div class="form1">
            <h2><u>Sign Up</u></h2>
            <input  name="email" placeholder="Enter Email Here">
            <input  name="cust_name" placeholder="Enter Your Name" >
            <input  name="username" placeholder="Enter Your username">
            <input  name="phone_number" placeholder="Enter Phone Number">
            <button class="btnn">Sign up</button>

        </div>

            <div class="icons">
                <a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://twitter.com/login"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="https://www.google.com/account/about/"><ion-icon name="logo-google"></ion-icon></a>
                <a href="https://www.skype.com/en/"><ion-icon name="logo-skype"></ion-icon></a>
            </div>
        </form>

</body>

</html>